/* modificando header, nuestra cabeza de la pagina*/
/*.container{
	outline: 1px solid red;
 }*/
 .cabeza{
 	overflow: hidden;
 }
.logo{
	width: 15%;
	display: inline-block;
	margin-left: 40%;
	margin-top: 2%; 
}
.idioma {
	border: none;
	margin-top: 5%;
	margin-bottom: 1%; 
	float: right;

}
.idioma:focus{
	outline-style: none;
}

/*section segunda parte, navegador*/ 
.fondo{
	background: #FFC107;
	overflow: hidden;
}
.menu{
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: white;
}
.nav-link{
	color: #000;
}

.nav-link:hover{
	color:#FFFFFF;
}
.editar{
	float: right;
}
#navEditar{
	position: fixed;
	z-index: 5;
}
.lista{
	outline: 1px solid #ffc107;
	background: #fff;
	width: 200%;
}
.buscar{
	float: left;
	font-size: 18px;
}

/* tercera parte que se divida en varias section*/
/*primera*/
.fondo2{
	background:#333333;
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: center;
}
.col{
	background: #fff;
	border-radius: 10px;
	margin: 1%; 
}

.NroA{
    padding-bottom: 3%;
	background:#F9A91A;
	text-align: center;
	font-size: 10px;
	border-radius: 10px;	
}
/*segunda*/
.nivelTech{
	background: #fff;
	border-radius: 10px;
	margin: 1%; 
}
.nivelHse{
	background: #fff;
	border-radius: 10px;
	margin: 1%;
}
.NroB{
	font-size: 15px;
	font-weight: bolder;
	text-align: center;

}
.NroC{
	margin: 4%;
	background: #F9A91A;
	text-align: center;
	font-size: 15px;
}
.autoevaluacion{
	background: #fff;
	border-radius: 10px;
	margin: 1%;
}
.sede{
	margin-left: 50%;
	outline: 1px solid red;
	padding-top: 0px;
}
.graficos-1{
	padding-top:15%;

}
.PercentA{
border: 1px solid black;
background-color: #F9A91A;
text-align: center;

}
.feliz, .seria, .triste{
	width: 80%;
	
}
.unidad a{
	outline: 1px solid green;
	margin-right: 100px;
}
.desertoras{
	text-align: center;
}
.txt{
font-size: 15px;
}
.txt2{
	margin-top: 3%;
	font-size: 15px;
	font-weight: bolder;
}
.promedios{
	text-align: center;
}
.col-7{
	text-align: center;
}
.autoevaluacion{
	text-align: center;
}
.c268, .c281, .c430{
	width: 100%;
	
}


