/* estilo del header*/

.container{
	outline: 1px solid red;
 }
.logo{
	width: 15%;
	margin-left: 40%;
}
.idioma {
	margin-left: 90%;

}
.menu{
   padding: 30px;
    background-color:#E1E1E1;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}
.sede{
	margin-left: 50%;
	outline: 1px solid red;
	padding-top: 0px;
}
.graficos-1{
	padding-top:15%;

}
.NroA{
	border: 1px solid black;
	background-color: #FFC107;
	margin:10px;
	text-align: center;
	
}
.PercentA{
border: 1px solid black;
background-color: #FFC107;
text-align: center;

}
.feliz, .seria, .triste{
	width: 10%;
	height: 10%
	padding: 15px;
	outline: 1px solid black;
}
.unidad a{
	outline: 1px solid green;
	margin-right: 100px;

}
.NroB{
	font-size: 20PX;
	font-weight: bolder;
	text-align: center;

}
.desertoras{
	text-align: center;
}